<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>WeatherApp</title>
  </head>
  <body>
    <div class="container">
      <form id="searchForm" action="/search" method="GET">
        <div class="search">
        <input type="search" placeholder="Enter a city" id="find" name="q" />
        <button id="submit"><i class="fa fa-search"></i></button>
      </div>
        <div class="icon">
          <img src="icons/<%=response.data.weather[0].icon%>.svg" alt="">
        </div>
          <div class="temp">
            <%=(Math.floor(response.data.main.temp))%>&#176;
          </div>
          <div class="city">
           <b> <%=response.data.name%>, <%=response.data.sys.country%> </b>
          </div>
          <div class="desc"><%=response.data.weather[0].description%></div>
          <div class="feels">Feels like <%=(Math.floor(response.data.main.feels_like))%>&#176</div>
        </div>
      </form>
    </div>
  </body>
</html>
